:root {
    --red: #F55A5A;
    --blue: #2B283A;
    --grey: #918E9B;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    font-size: 12px;
}

.navbar {
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.navbar--text {
    font-size: 15px;
    color: var(--white);
    margin-left: 15px;
}

.card {
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    align-items: center;
}

.card--info {
    margin-left: 25px;
}

.card--location {
    display: flex;
    align-items: center;
}

.card--location>* {
    margin-right: 7px;
}

.card--location--img {
    width: 10px;
}

.card--title {
    font-size: 25px;
}

.card--date {
    font-size: 12px;
}